body {
    background-color: #a6d7f5;
    font-family: 'Concert One';
}

.header {
    font-family: 'Bungee Shade';
    margin-top: 15px;
    margin-bottom: 5px;
}

#index-header {
    margin-bottom: 0px;
}

#make-game-header, 
#join-game-header {
    font-size: 45px;
}

#make-game-header {
    margin-top: 15px;
}

#join-game-header {
    margin-bottom: 0px;
}

::placeholder {
    color: darkgray;
}

#rules-button {
    font-family: 'Concert One';
    background-color: #b5a6f5;
    margin-top: 10px;
    margin-bottom: -5px;
    cursor: pointer;
}

#game-rules-header {
    color: #b5a6f5;
}

#game-rules {
    font-size: 18px;
}

#start-button {
    background-color: #69dc95;
    cursor: pointer;
}

#join-button {
    background-color: #dc9169;
    cursor:pointer;
}

#join-game-input-row {
    margin-top: 0px;
}

#gameboard-header {
    padding-left: 40px;
}

#ready-div {
    padding: 40px;
}

#gameboard {
    width: 975px;
    padding-left: 30px;
    padding-right: 70px;
}

.game-row {
    margin-left: -42px;
}

#first-row, #second-row {
    margin-bottom: 0px;
}

#third-row {
    margin-bottom: 20px;
}

.gif-div, #winner-div {
    height: 175px;
    width: 294px;
}

#winner-div {
    background-color: #f5e9a6;
}

#winner-text {
    font-size: 35px;
    padding-top: 45px;
}

.space-div {
    height: 20px;
    width: 300px;
}

.player-space {
    height: 17px;
    width: 49px;
    float: left;
}

.player-1 {
    background-color: #f5c2a6;
}

.player-2 {
    background-color: #dca6f5;
}

.player-3 {
    background-color: #bef5a6;
}

.player-4 {
    background-color: #69b0dc;
}

.player-5 {
    background-color: #dccb69;
}

.player-6 {
    background-color: #dc7569;
}

#game-winner {
    background-color: #f5e9a6;
}

#caption-1 {
    color: #69b0dc;
}

#caption-2 {
   color: #dc7569;
}

#caption-3 {
   color: #dca6f5;
}

#caption-4 {
    color: #dccb69;
}

#caption-5 {
    color: darkblue;
}

#winner-col {
    margin-left: 339px;
}

.arrow {
    width: 30px;
    margin-top: 75px;
    margin-left: 7px;
    margin-right: -5px;
}

.back-arrow {
    transform: scalex(-1);
}

.arrow-row, .arrow-col {
    margin: 0px;
}

.down-arrow {
    height: 30px;
}

#down-1 {
    margin: -15px 0px 3px 183px;
}

#down-2 {
    margin: -15px 0px 5px 91px;
}

#trophy {
    max-width: 200px;
}

.moving-gif {
    width: 475px;
}

.judging-caption {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    color: #5D6D7E;
}

#how-many-players, .judging-caption{
    cursor:pointer;
}

#giphy-logo {
    width: 55px;
}