.header {
    font-family: 'Bungee Shade';
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

#ready-div {
    padding: 40px;
}

#gameboard {
    width: 975px;
    /* margin-left: 225px; */
    padding-left: 30px;
    padding-right: 70px;
}

.game-row {
    margin-left: -42px;
}

#first-row, #second-row {
    margin-bottom: 0px;
}

#third-row {
    margin-bottom: 20px;
}

.gif-div, #winner-div {
    border: solid;
    height: 175px;
    width: 300px;
}

#winner-div {
    background-color: gold;
}

.space-div {
    border: solid;
    border-top: none;
    height: 20px;
    width: 300px;
}

.player-space {
    height: 17px;
    width: 49px;
    float: left;
}

.player-1 {
    background-color: red;
}

.player-2 {
    background-color: blue;
}

.player-3 {
    background-color: yellow;
}

.player-4 {
    background-color: green;
}

.player-5 {
    background-color: orange;
}

.player-6 {
    background-color: purple;
}

#game-winner {
    background-color: gold;
}

#winner-col {
    margin-left: 339px;
}

.arrow {
    width: 30px;
    margin-top: 75px;
    margin-left: 12px;
    margin-right: -7px;
}

.back-arrow {
    transform: scalex(-1);
}

.arrow-row, .arrow-col {
    margin: 0px;
}

.down-arrow {
    height: 30px;
}

#down-1 {
    margin: -15px 0px 3px 196px;
}

#down-2 {
    margin: -15px 0px 3px 94px;
}

#trophy {
    max-width: 200px;
}